{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'cart3.css' %}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'popup.css' %}" />
  <script>
    function openLoginForm() {
      //alert("hellos");
      document.body.classList.add("showLoginForm");
    }
    function closeLoginForm() {
      document.body.classList.remove("showLoginForm");
    }
    function updateaddress() {
      closeLoginForm();
      document.getElementById('address').innerHTML = document.getElementById('ad1').value + "<br>" + document.getElementById('ad2').value + "<br>" + document.getElementById('city').value + "<br>" + document.getElementById('inputState').value + "<br>" + document.getElementById('inputZip').value;
      document.getElementById('add_inp').value = document.getElementById('ad1').value + "," + document.getElementById('ad2').value + "," + document.getElementById('city').value + "," + document.getElementById('inputState').value + "," + document.getElementById('inputZip').value;
      console.log(document.getElementById('add_inp').value)


    }
  </script>
  <title>Cart</title>
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container-fluid" style="box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);">
      <div class="food"><i style="color:white" class="fas fa-utensils"></i></div>
      <label class="logo">FoodJunction</label>

      </button>

    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-11 mx-auto">
        <div class="row mt-5 gx-3">
          <!-- left side div -->
          <div class="col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-0 mb-5 shadow">
            <div class="card p-4">
              <h2 class="py-4 font-weight-bold">Cart ( items)</h2>
              {% if not items %}
              <div class = "row">
                <h1 class = "mb-4 product_name">No items were found in the list!!</h1>
              </div>
              {% endif%}
              {% for food in items %}
              <div class="row">
                <!-- cart images div -->
                <div
                  class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
                  <img src="{% url "fooddelivery:image" food.food.photo %}" class="img-fluid" alt="cart img" onerror = "this.src = '{% static "default_food.png" %}'">
                </div>


                <!-- cart product details -->
                <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                  <div class="row">
                    <!-- product name  -->
                    <div class="col-6 card-title">
                      <h1 class="mb-4 product_name">{{ food.food.name}} </h1>
                      <p class="mb-2">by {{food.food.chef.name}}</p>
                    </div>
                    <!-- quantity inc dec -->
                    <div class="col-6">
                      <ul class="pagination justify-content-end set_quantity">
                        <li class="page-item">
                          <button class="page-link " onclick="location.href = '{% if food.quantity != 1 %}{% url "fooddelivery:chng_crt" food.id food.quantity|add:-1%}{%else%}#{% endif %}'">
                            <i class="fas fa-minus"></i> </button>
                        </li>
                        <li class="page-item"><input type="text" name="" class="page-link" value="{{food.quantity}}" id="textbox{{food.id}}">
                        </li>
                        <li class="page-item">
                          <button class="page-link" onclick="location.href = '{% url "fooddelivery:chng_crt" food.id food.quantity|add:1%}'"> <i
                              class="fas fa-plus"></i></button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- <input type="hidden" id = "prise{{ food.id  }}"value = "{{food.food.prise}}"> -->
                  <!-- //remover move and price -->
                  <div class="row">
                    <div class="col-8 d-flex justify-content-between remove_wish" onclick="location.href = '{% url "fooddelivery:del_cart" food.id %}'">
                      <p><i class="fas fa-trash-alt"></i> REMOVE ITEM</p>

                    </div>
                    <div class="col-4 d-flex justify-content-end price_money">
                      <h3>Rs<span id="itemval{{ food.id }}"> {% widthratio food.quantity 1 food.food.prise %}</span></h3>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              {% endfor %}
            </div>
            <!-- 2nd cart product -->
          </div>
          <!-- right side div -->
          <div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-0 mt-md-5">
            <div class="right_side p-3 shadow bg-white">
              <h2 class="product_name mb-5">The Total Amount Of</h2>
              <div class="price_indiv d-flex justify-content-between">
                <p>Product amount</p>
                <p>Rs<span id="product_total_amt">{{ total }}</span></p>
              </div>
              <div class="price_indiv d-flex justify-content-between">
                <p>Shipping Charge</p>
                <p>Rs<span id="shipping_charge">{{ vat }}</span></p>
              </div>
              <hr />
              <div class="total-amt d-flex justify-content-between font-weight-bold">
                <p>The total amount of (including VAT)</p>
                <p>Rs<span id="total_cart_amt">{{ total|add:vat }}</span></p>
              </div>
              <form action="{% url "fooddelivery:confirm_order" %}" method="post">
                {% csrf_token %}
                <input type="hidden" name = address value = "" id = "add_inp">
              <div class="ebutton">
                <button type= "submit" class="btn btn-primary text-uppercase">Place Order</button>
              </div>
           

            </div>


            <label class="radio-inline"><input type="radio" name="payment" checked value="cod">Cash On Delivery(COD)</label>

            <label class="radio-inline"><input type="radio" name="payment" value="crd">PREPAID</label>
            </form>
            <div class="mt-3 shadow p-3 bg-white">
              <div class="pt-4">
                <h5 class="mb-4">Your Address</h5>
                <p id="address">{% if address %}{{address}}{%else%}No addresses found{% endif%}</p>
                <button class="btn btn-primary text-uppercase btn-sm w-100" onclick="openLoginForm()">Add or Edit delivery
                  address</button><br><br>
                <!-- <button class="btn btn-primary text-uppercase btn-sm w-100">Delivery to this address</button> -->
              </div>
            </div>
            <div class="popup-overlay"></div>
            <div class="popup">
              <i id="popup-close" onclick="closeLoginForm()" class="fas fa-times-circle"></i>
              <div class="form">

                <div class="element">
                  <label for="ad1">
                    <h5>Addess Line 1</h5>
                  </label>
                  <input type="text" class="form-control" id="ad1" placeholder="1234 Main St">
                </div>
                <div class="element">
                  <label for="ad2">
                    <h5>Addess Line 2</h5>
                  </label>
                  <input type="text" class="form-control" id="ad2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="element">
                  <label for="city">
                    <h5>City</h5>
                  </label>
                  <input type="text" class="form-control" id="city">
                </div>
                <div class="element">
                  <label for="inputState">
                    <h5>State</h5>
                  </label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>Maharastra</option>
                    <option>Gujrat</option>
                    <option>Delhi</option>
                    <option>TamilNadu</option>
                  </select>
                </div>
                <div class="element">
                  <label for="inputZip">
                    <h5>Zip</h5>
                  </label>
                  <input type="text" class="form-control" id="inputZip">
                </div><br><br>
                <div class="element">
                  <button onclick="updateaddress()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>

  <!-- <script src="{% static 'cart3.js' %}">

  </script> -->
</body>

</html>