{% load static %}
<!DOCTYPE html>
<html>
<title>
</title>

<head>
<link rel="stylesheet" href="{% static "sude.css" %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>

#user{
	
		position: absolute;
	color:white;
	border:1px solid rgb(137, 201, 198);
	top:-20px;
	left:1160px;
	background-color: rgb(26, 31, 99);;
	width:130px;
  height:90px;
	padding: 6px;
	display:none;
  transition:2s;
	

}

</style>
<script>
function changeDef(x){
 //alert("heloo");
  var ele=document.getElementById('user').style.display="block";
  //ele.classList.add("userpop");
 //x.style.display="block";
}
function mouseout(){
  var ele=document.getElementById('user').style.display="none";
}
</script>

</head>
<body bgcolor="#f4f0ec">

<div class="top">

<div class="food"><i class="fas fa-utensils"></i></div>
<label class="logo"><h3 style="color:hsl(210, 100%, 4%)">FoodJunction</h3></label>
<form action="/search/" method="POST">
  {% csrf_token %}
<input type="search" class="search" placeholder="Search"name="search">
<button type="submit"><div class="slogo"><i style="color:black"class="fas fa-search" ></i></div></button>
</form>

<a class=" login" style="position:absolute;left:1200px;top:22px;font-size:30px;"><i style="color:black"class="fas fa-user-circle" onmouseover="changeDef(this)" onmouseout='mouseout()'></i></a>

<a class=" cart"href="{% url "fooddelivery:cart" %}" style="position:absolute;left:1280px;top:22px;font-size:30px"><i style="color:black"class="fas fa-shopping-cart"></i></a>
<a class=" notification"href="#" style="position:absolute;left:1360px;top:22px;font-size:30px"><i style="color:black"class="fas fa-bell"></i></a>

<button class="topbtn" style="position:absolute;top:22px;left:500px">Home</button>
<button class="topbtn" style="position:absolute;top:22px;left:580px"id="dishbtn" >Dishes</button>
<button class="topbtn"style="position:absolute;top:22px;left:660px">Menu</button>
<button class="topbtn" style="position:absolute;top:22px;left:740px">Order</button>



</div>


<div class="slideshow-container">
<div id="user"onmouseover="changeDef(this)" onmouseout='mouseout()'>
<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    
                    <li><a style="color:white"class="dropdown-item" href="#">Sign In</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a style="color:white" class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
    </div>      
         <!--        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    
                    <li><a style="color:white"class="dropdown-item" href="#">Sign In</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a style="color:white" class="dropdown-item" href="#">Sign out</a></li>
                  </ul> -->

         

<div class="mySlides fade">
  <!-- <div class="numbertext">1 / 3</div> -->
  <p style="position:absolute;top:120px;left:300px;color:green;font-size:15px">Our Special dish</p>
  <p style="position:absolute;top:210px;left:300px;color:#191970;font-size:15px">Get 10% off on next order click on order now </p>
  <img src="{% url 'fooddelivery:image' foods.0.photo%}" onerror = "this.src = '{% static "default_food.png" %}'" class="img" >
  <div class="newtext">{{ foods.0.name }}</div>
  <button onclick="location.href='{% url "fooddelivery:food" foods.0.id %}';"style="padding:10px;position:absolute;top:280px;left:300px;background:#191970;color:white;border-radius:15px">Order Now</button>
  
</div>

<div class="mySlides fade">
  <!-- <div class="numbertext">2 / 3</div> -->
  <p style="position:absolute;top:120px;left:300px;color:green;font-size:15px">Our Special dish</p>
  <p style="position:absolute;top:210px;left:300px;color:#191970;font-size:15px">Get 10% off on next order click on order now </p>
  <div class="newtext">{{ foods.1.name }}</div>
   <button onclick="location.href='{% url "fooddelivery:food" foods.1.id %}';"style="padding:10px;position:absolute;top:280px;left:300px;background:#191970;color:white;border-radius:15px">Order Now</button>
  <img src="{% url 'fooddelivery:image' foods.1.photo%}" onerror = "this.src = '{% static "default_food.png" %}'" class="img">
  
</div>

<div class="mySlides fade">
  <!-- <div class="numbertext">3 / 3</div> -->
  <p style="position:absolute;top:120px;left:300px;color:green;font-size:15px">Our Special dish</p>
  <p style="position:absolute;top:210px;left:300px;color:#191970;font-size:15px">Get 10% off on next order click on order now </p>
  <div class="newtext">{{ foods.2.name }}</div>
   <button onclick="location.href='{% url "fooddelivery:food" foods.2.id %}';"style="padding:10px;position:absolute;top:280px;left:300px;background:#191970;color:white;border-radius:15px">Order Now</button>
  <img src="{% url 'fooddelivery:image' foods.2.photo %}" onerror = "this.src = '{% static "default_food.png" %}'" class="img">
 
</div>

<div style="position:absolute;top:350px;left:700px">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

</div>
<br>


<br>
<label id="dishes"style="position:absolute;top:540px;left:600px;font-weight:bold;text-align:center;color:black;font-size:25px">POPULAR DISHES</label>   
<div class="grid-container">
 <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.0.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img> <br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.0.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.0.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.0.id %}';"class="cartbtn" >Click to View</button></div>
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.1.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.1.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.1.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.1.id %}';"class="cartbtn" >Click to View</button></img>
    
  </div>
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.2.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.2.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.2.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.2.id %}';"class="cartbtn" >Click to View</button></div>  
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.3.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.3.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.3.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.3.id %}';"class="cartbtn" >Click to View</button></div>
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.4.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.4.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.4.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.4.id %}';"class="cartbtn" >Click to View</button></div>
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.5.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.5.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.5.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.5.id %}';"class="cartbtn" >Click to View</button></div>  
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.6.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.6.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.6.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.6.id %}';"class="cartbtn" >Click to View</button></div>
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.7.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.7.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.7.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.7.id %}';"class="cartbtn" >Click to View</button></div>
  <div class="grid-item"><img class="photos" src="{% url 'fooddelivery:image' foods.0.photo %}" onerror = "this.src = '{% static "default_food.png" %}'"></img><br><label style="font-weight:bold;text-align:center;color:black;font-size:20px"/>{{ foods.0.name }}<br><br><label style="color:green;font-size:17px">Rs {{ foods.0.prise }}.0</label>&ensp;<button onclick = "location.href = '{% url "fooddelivery:food" foods.0.id %}';"class="cartbtn" >Click to View</button></div>  
</div>




</div>

</nav>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 1000); // Change image every 2 seconds
}

document.getElementById("dishbtn").addEventListener("click", scroll);
function scroll(){

document.getElementById("dishes").scrollIntoView();



}
</script>















</body>
</html>